<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <form action="" method="post">
        <label for="your-name">Your name: </label> <input id="your-name" type="text" name="name_field" placeholder="Your name."> 
        <label for="your-email">Your e-mail: </label> <input id="your-email" type="email" name="email_field" placeholder="Your e-mail."> 
        <label for="your-password">Fill in your password: </label> <input id="your-password" type="password" name="pass_field" placeholder="Your password.">
        <label for="your-bday">What is your date of birth: </label> <input id="your-bday" type="date" name="date_field" placeholder="Your date of birth."> 
        

        <input type="submit" value="Create account">
    </form>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>